<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!--测试-->
    <add key="WebServiceBaseUrl" value="http://bpmtest.lvdu-dc.com:84/"/>
    <add key="T" value="45"/>
    <add key ="T1" value="3"/>
    <!--正式
        <add key="WebServiceBaseUrl" value="http://api.lvdu-dc.com"/>
    -->
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-LD_FW-20180823110000.mdf;Initial Catalog=aspnet-LD_FW-20180823110000;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="SqlConnection" connectionString="Data Source=47.100.107.160;Initial Catalog=LVDU_MDM;Persist Security Info=True;User ID=sa;Password=SHUjv.18" />

    <!--正式
    <add name="SqlConnection89" connectionString="Data Source=47.100.179.89;Initial Catalog=LDFW;Persist Security Info=True;User ID=sa;Password=work1.hard" />-->
    <!--测试-->
    <add name="SqlConnection89" connectionString="Data Source=47.100.179.89;Initial Catalog=LDFWBF;Persist Security Info=True;User ID=sa;Password=work1.hard" />
  </connectionStrings>
</configuration>