<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-LD_FW-20180823110000.mdf;Initial Catalog=aspnet-LD_FW-20180823110000;Integrated Security=True" providerName="System.Data.SqlClient" />
<!--  <add name="SqlConnection" connectionString="Data Source=47.100.170.33;Initial Catalog=LVDU_MDM;Persist Security Info=True;User ID=jichu1;Password=jichu!102" />-->
      <add name="SqlConnection" connectionString="Data Source=47.100.107.160;Initial Catalog=LVDU_MDM;Persist Security Info=True;User ID=sa;Password=SHUjv.18" />
    <!--正式-->
    <add name="SqlConnection89" connectionString="Data Source=47.100.179.89;Initial Catalog=LDFW;Persist Security Info=True;User ID=sa;Password=work1.hard" />
    <!--测试
   <add name="SqlConnection89" connectionString="Data Source=47.100.179.89;Initial Catalog=LDFWBF;Persist Security Info=True;User ID=sa;Password=work1.hard" />-->
  </connectionStrings>

  <appSettings>

    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!--SSO正式
     <add key="WebServiceBaseUrl" value="http://rysso.lvdu-dc.com/"/>
  <add key="AuthSSO_SSOLoginUrl" value="http://rysso.lvdu-dc.com/AdminMain/GetUserToken"/>
  <add key="AuthSSO_ReceiveTokenUrl" value="http://app.lvdu-dc.com:90/Law/Index"/>
  <add key="AuthSSO_HeaderUserName" value="zldc"/>
  <add key="AuthSSO_HeaderPassword" value="zldc.com"/>
  <add key="AuthSSO_AppID" value="24"/>
  <add key="AuthSSO_SecretKey" value="fEqNCco3Yq9h5ZUglD3CZJT4lBs="/>-->

    
    <!-- 第三方待办接口 -->
    <add key="WebServiceBaseUrlThird" value="http://api.lvdu-dc.com/"/>

    <!--SSO测试-->
    <add key="AuthSSO_SSOLoginUrl" value="http://zsjtest.lvdu-dc.com:83/AdminMain/GetUserToken"/>
    <add key="WebServiceBaseUrl" value="http://zsjtest.lvdu-dc.com:83/" />
    <add key="AuthSSO_ReceiveTokenUrl" value="http://localhost:39398/Law/Index/" />
    <add key="AuthSSO_HeaderUserName" value="zldc"/>
    <add key="AuthSSO_HeaderPassword" value="zldc.com"/>
    <add key="AuthSSO_AppID" value="24"/>
    <add key="AuthSSO_SecretKey" value="fEqNCco3Yq9h5ZUglD3CZJT4lBs="/>


<!--第三方流程发起接口测试
    <add key="BPMServiceBaseUrl" value="http://bpmtest.lvdu-dc.com:84/" />
    <add key="BPMApplyRecord" value="http://newoa.lvdu-dc.com/Workflow/MTStart2.aspx?BSID=YZ&amp;BTID={0}&amp;BOID={1}&amp;UserID={2}&amp;LoginKey={3}'" />
-->
    <!--第三方流程发起接口正式  -->
    <add key="BPMServiceBaseUrl" value="http://api.lvdu-dc.com/" />
    <add key="BPMApplyRecord" value="http://newoa.lvdu-dc.com/Workflow/MTStart2.aspx?BSID=FW&amp;BTID={0}&amp;BOID={1}&amp;UserID={2}&amp;LoginKey={3}" />
  

  </appSettings>



  <system.web>
  
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <!--<httpRuntime targetFramework="4.5" />-->
    <httpRuntime targetFramework="4.5" executionTimeout="90" maxRequestLength="2097151" requestPathInvalidCharacters="" />
    <sessionState mode="InProc" timeout="30" />
  </system.web>

  <!--<system.webServer>
  <security>
    <requestFiltering>
      <requestLimits maxAllowedContentLength="2072576000"/> 
    </requestFiltering>
  </security>
  </system.webServer>-->

  <!-- <httpRuntime requestPathInvalidCharacters="" />-->

  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>