
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lodding</title>
</head>
<body>
    <div>
        <legend> 欢迎来到诉讼系统!</legend>
    </div>
</body>
</html>
